@import 'reset.css';
@import 'global.css';
@import "main.css";
@import "gallery.css";
@import "gallery-details.css";
@import "aboutme.css";
@import "profile.css";
@import "contacts.css";
@import "edit-profile.css";

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(89, 115, 255, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: #8296FFFF;
  outline: 1px solid slategrey;
}